<main class="black-80">
    <a class="fr f2 black pointer" (click)="onNoClick()">&times;</a>
    <form class="measure center">
      <div class="mw4 center">
        <img src="../../assets/img/1.png" alt="Logo">
      </div>
      <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <div class="mt3">
            New user? <a (click)='openRegister()' (click)="onNoClick()" class="f6 dim green link"> Create an account</a>
        </div>
        <div class="mb4 mt3">
          <input class="pv3 pl4 lh-copy input-reset ba b--black-05 f6 w-100 br-pill" placeholder="Phone number, username or email" type="email" name="email">
        </div>
        <div class="mv3">
          <input class="pv3 pl4 lh-copy input-reset ba b--black-05 f6 w-100 br-pill" placeholder="Password" type="password" name="password">
        </div>
        <div class="mt3">
          <div class="fl flex items-center w-50">
            <input class="mr2" type="checkbox" name="remember-me">
            <label class="lh-copy f7 pointer">Remember Me</label>
          </div>
          <div class="fl w-50">
            <a href="#0" class="f7 link dim green fr">Forgot password?</a>
          </div>
        </div>
      </fieldset>
      <div class="mt3">
        <input class="pa3 input-reset ba bg-transparent white bg-dark-green grow pointer f5 dib w-100 br-pill" type="submit" value="Signin">
      </div>
      <div class="mt4 center w-80">
        <div class="fl w-40"><hr/></div>
        <div class="fr w-40"><hr/></div>
        <p class="tc">OR</p>
      </div>
      <div class="mt3">
        <input class="pa3 ba bg-transparent white bg-dark-blue grow pointer f6 dib w-100 br-pill items-center" type="submit" value="Login with Facebook">
      </div>
    </form>
  </main>