<header class="bg-black-90 fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
  <nav class="f6 fw6 ttu tracked">
    <a class="link dim white dib mr3" href="#0"  title="Home">Home</a>
    <button mat-raised-button class="link dim black dib mr1" (click)="openLogIn()">Login</button>
    <button mat-raised-button class="link dim black dib mr4" (click)="openRegister()">Register</button>
  </nav>
</header>
