<main class="black-80">
    <a class="fr f2 black pointer" (click)="onNoClick()">&times;</a>
    <form class="measure center">
      <div class="mw4 center">
        <img src="../../assets/img/1.png" alt="Logo">
      </div>
      <fieldset id="register" class="ba b--transparent ph0 mh0">
        <div class="mt3">
            Alrady have an account? <a (click)='openLogIn()' (click)="onNoClick()" class="f6 dim green link">Login</a>
        </div>
        <div class="mb4 mt3">
          <input class="pv3 pl4 lh-copy input-reset ba b--black-05 f6 w-100 br-pill" placeholder="Fullname" type="text" name="fullname">
        </div>
        <div class="mb4">
          <input class="pv3 pl4 lh-copy input-reset ba b--black-05 f6 w-100 br-pill" placeholder="Phone number or email" type="text" name="email">
        </div>
        <div class="mb4">
          <input class="pv3 pl4 lh-copy input-reset ba b--black-05 f6 w-100 br-pill" placeholder="Password" type="password" name="password">
        </div>
        <div class="mv3">
            <input class="pv3 pl4 lh-copy input-reset ba b--black-05 f6 w-100 br-pill" placeholder="Confirm Password" type="password" name="confirmpassword">
          </div>
      </fieldset>
      <div class="mt3">
        <input class="pa3 input-reset ba bg-transparent white bg-dark-green grow pointer f5 dib w-100 br-pill" type="submit" value="Register Account">
      </div>
      <div class="mt4 center w-80">
        <div class="fl w-40"><hr/></div>
        <div class="fr w-40"><hr/></div>
        <p class="tc">OR</p>
      </div>
      <div class="mt3">
        <input class="pa3 ba bg-transparent white bg-dark-blue grow pointer f6 dib w-100 br-pill items-center" type="submit" value="Login with Facebook">
      </div>
    </form>
  </main>